<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%= title || "FurniLux" %>
    </title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <header class="navbar">
        <div class="logo">FurniLux</div>
        <nav>
            <a href="/">Home</a>
            <a href="/products">Products</a>
            <a href="/collections">Collections</a>
        </nav>
    </header>