html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    background: #222;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

/* Hero */
.hero {
    background-image: url("/images/hero.jpg");
    height: 70vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 40px;
    color: white;
    position: relative;
}

.hero-text {
    max-width: 500px;
}

.btn {
    background: #ff6600;
    padding: 12px 20px;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.hero-text h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}


.hero::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);

}

/* Grid */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 40px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    border-radius: 5px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.btn:hover,
.btn-small:hover {
    background: #ff4500;
    transition: all 0.3s ease;
}

.price {
    font-weight: bold;
    color: #ff6600;
}

.btn-small {
    display: inline-block;
    margin-top: 10px;
    padding: 6px 10px;
    background: #222;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.page-title {
    text-align: center;
    margin-top: 40px;
}

/* Detail Page */
.detail {
    display: flex;
    gap: 40px;
    padding: 100px;
}

.detail img {
    width: 400px;
    border-radius: 10px;
    min-height: 400px;
}

.featured-collections,
.featured-products {
    padding: 25px 40px;
}

.featured-collections h2,
.featured-products h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
}

/* Footer */
.footer {
    text-align: center;
    padding: 20px;
    background: #222;
    color: white;
}

/* Responsive */
@media (max-width: 768px) {
    .detail {
        flex-direction: column;
    }

    .hero {
        height: 40vh;
    }
}